.formTodo{
    width: 50%;
}
.formTodo input{
    width: 100%;
    padding: 5px;
    margin: 10px 0;
    border: 1px solid #777;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 4px 10px rgba(22,25,28,0.2);
}
.formTodo input:focus{
    border: 2px solid #333;
}
.formTodo div{
    display: flex;
    justify-content: space-between;
    padding: 2px 10px;
    margin-bottom: 10px;
}
.addBtn{
    padding: 5px;
    width: 40%;
    background-color: aqua;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
}
.addBtn:hover{
    background-color: rgb(14, 209, 209);
}
.cancelBtn{
    width: 30%;
    color: #000;
    font-weight: bold;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    background-color: #f35252;
}
.cancelBtn:hover{
    background-color: #b60b0b;
    color: antiquewhite;
}