ul{
    list-style-type: none;
    width: 50%;
    text-align: center;
    border: 1px solid;
  }
  li{
    width: 80%;
    margin: 10px;
    max-width: 100%;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  ul li button{
    margin-right: 5px;
    padding: 3px;
    color: #fff;
    background-color: rgba(248, 11, 11, 0.877);
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
  }