.App {
  text-align: center;
  padding: 20px;
  max-width: 600px;
  border: 1px solid #ccc;
}
ul{
  list-style-type: none;
}
li{
  margin: 10px;
  max-width: 100%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
button{
  margin-left: 10px;
  color: #fff;
  background-color: aquamarine;
  outline: none;
  border: 1px solid #ccc;
}
